<div class="pagesnippetwidget widget{% if template == 'index' %} one-third column{% endif %}">
    <h6><a href="/pages/delivery-return">About Us</a></h6>
    
<ol>
<li><strong>IRISH</strong>&nbsp;- We are an Irish business, helping to keep jobs in Ireland</li>
<li><strong>FAST</strong> - Our delivery is always fast and always free</li>
<li><strong>EASY</strong> - We never complicate and never charge for returns</li>
<li><span style="line-height: 1.5;"><strong>FRIENDLY</strong>&nbsp;- We have fantastic customer service&nbsp;</span></li>
<li><strong>AFFORDABLE</strong><span style="line-height: 1.2;"> - We only sell quality brands, at great prices</span></li>
</ol>
  
  <p><a href="/pages/about-us">Read more...</a></p>
  
    {% comment %} You can use the code: '{{ reasons }}' to get the handle from the Theme Settings {% endcomment %}
    
</div>