<div class="pagesnippetwidget widget{% if template == 'index' %} one-third column{% endif %}">
    <h6><a href="/pages/delivery-return">Free Delivery &amp; Return</a></h6>
    
  <ul>
  <li><strong>Free courier delivery</strong> - we offer free delivery for all purchases within Ireland</li>
  <li><strong>Where it suits you</strong> - we deliver to your house or your office, wherever is easiest for you</li>
  <li><strong>Free returns</strong> - we offer FREE returns on all purchases in Ireland</li>
  <li><strong>30 days return policy</strong> - there is no rush, you have 30 days to decide</li>
  </ul>
  
  <p><a href="/pages/delivery-return">Read more...</a></p>
  
    {% comment %} You can use the code: '{{ reasons }}' to get the handle from the Theme Settings {% endcomment %}
    
</div>